<% content_for :javascript_includes do %>
 	<%= javascript_include_tag "home.js" %>
<% end %>
<%= render :partial => 'devise/sessions/new' %>

<%= render :partial => 'devise/sessions/login' %>

<%= render :partial => 'devise/registrations/signup' %>
<div id="album-shelf">
	<%= render :partial => 'home/albums' %>
</div>
<%= render :partial => 'getyours' %>
